<template>
  <li class="notification">
    <div class="media">
      <div class="media-left">
        <div class="media-object">
          <img src="/notif-icon.png" width="20px">
        </div>
      </div>

      <div class="media-body">
        <a href="#" @click.prevent="markAsRead" class="notification-mark-read" title="Tandai sudah dibaca">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <strong class="notification-title">
          <a :href="notification.action_url">{{ notification.title }}</a>
        </strong>

        <p class="notification-desc">
          {{ notification.body }}
        </p>

        <div class="notification-meta">
          <small class="timestamp">
            <timeago :datetime="notification.created" :auto-update="30"></timeago>
          </small>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
  export default {
    props: {
      notification: {
        type: Object,
        required: true
      }
    },
    methods: {
      markAsRead () {
        this.$emit('read')
      }
    }
  }
</script>
