<template>
  <div>
    <!-- Register Webpush -->
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data: () => ({
      loading: false,
      isPushEnabled: false,
      pushButtonDisabled: true
    }),
    async mounted () {
      await this.registerServiceWorker()

      try {
        await this.subscribe()
      } catch (e) {
        await this.unsubscribe()
        this.subscribe()
      }
    },
    methods: {
      /**
       * Register the service worker.
       */
      registerServiceWorker () {
        if (!('serviceWorker' in navigator)) {
          console.log('Service workers aren\'t supported in this browser.')
          return
        }

        return navigator.serviceWorker.register('/sw.js')
          .then(() => this.initialiseServiceWorker())
          .catch(e => {
            console.log(e)
            throw e
          })
      },

      initialiseServiceWorker () {
        if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
          console.log('Notifications aren\'t supported.')
          return
        }

        if (Notification.permission === 'denied') {
          console.log('The user has blocked notifications.')
          return
        }

        if (!('PushManager' in window)) {
          console.log('Push messaging isn\'t supported.')
          return
        }

        return navigator.serviceWorker.ready.then((registration) => {
          return registration.pushManager.getSubscription()
            .then(async (subscription) => {
              this.pushButtonDisabled = false

              if (!subscription) {
                return
              }

              await this.updateSubscription(subscription)

              this.isPushEnabled = true
            })
            .catch(e => {
              console.log('Error during getSubscription()')
              throw e
            })
        })
      },

      /**
       * Subscribe for push notifications.
       */
      subscribe () {
        return navigator.serviceWorker.ready.then(registration => {
          const options = { userVisibleOnly: true }
          const vapidPublicKey = window.App.vapidPublicKey

          if (vapidPublicKey) {
            options.applicationServerKey = this.urlBase64ToUint8Array(vapidPublicKey)
          }

          return registration.pushManager.subscribe(options)
            .then(async subscription => {
              this.isPushEnabled = true
              this.pushButtonDisabled = false

              await this.updateSubscription(subscription)
            })
            .catch(e => {
              if (Notification.permission === 'denied') {
                console.log('Permission for Notifications was denied')
                this.pushButtonDisabled = true
              } else {
                console.log('Unable to subscribe to push.')
                this.pushButtonDisabled = false
              }

              throw e
            })
        })
      },

      /**
       * Unsubscribe from push notifications.
       */
      unsubscribe () {
        return navigator.serviceWorker.ready.then(registration => {
          return registration.pushManager.getSubscription().then(subscription => {
            if (!subscription) {
              this.isPushEnabled = false
              this.pushButtonDisabled = false
              return
            }

            return subscription.unsubscribe().then(async () => {
              await this.deleteSubscription(subscription)

              this.isPushEnabled = false
              this.pushButtonDisabled = false
            }).catch(e => {
              console.log('Unsubscription error')
              this.pushButtonDisabled = false
              throw e
            })
          }).catch(e => {
            console.log('Error thrown while unsubscribing.')
            throw e
          })
        })
      },

      /**
       * Toggle push notifications subscription.
       */
      togglePush () {
        if (this.isPushEnabled) {
          this.unsubscribe()
        } else {
          this.subscribe()
        }
      },

      /**
       * Send a request to the server to update user's subscription.
       *
       * @param {PushSubscription} subscription
       */
      updateSubscription (subscription) {
        const key = subscription.getKey('p256dh')
        const token = subscription.getKey('auth')

        const data = {
          endpoint: subscription.endpoint,
          key: key ? btoa(String.fromCharCode.apply(null, new Uint8Array(key))) : null,
          token: token ? btoa(String.fromCharCode.apply(null, new Uint8Array(token))) : null
        }

        this.loading = true

        return axios.post('/subscriptions', data)
          .then(() => { this.loading = false })
      },

      /**
       * Send a requst to the server to delete user's subscription.
       *
       * @param {PushSubscription} subscription
       */
      deleteSubscription (subscription) {
        this.loading = true

        return axios.post('/subscriptions/delete', { endpoint: subscription.endpoint })
          .then(() => { this.loading = false })
      },

      /**
       * https://github.com/Minishlink/physbook/blob/02a0d5d7ca0d5d2cc6d308a3a9b81244c63b3f14/app/Resources/public/js/app.js#L177
       *
       * @param  {String} base64String
       * @return {Uint8Array}
       */
      urlBase64ToUint8Array (base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
          .replace(/\-/g, '+')
          .replace(/_/g, '/')

        const rawData = window.atob(base64)
        const outputArray = new Uint8Array(rawData.length)

        for (let i = 0; i < rawData.length; ++i) {
          outputArray[i] = rawData.charCodeAt(i)
        }

        return outputArray
      }
    }
  }
</script>
