.dropdown .dropdown-menu-right {
  left: auto !important;
}

.dropdown-notifications .dropdown-container {
  margin-top: 0px;
}

.dropdown-notifications .notification-icon.hide-count:after {
  display: none;
}

.dropdown-notifications .dropdown-toolbar .dropdown-toolbar-actions {
  margin-top: -2px;
  font-size: 13px;
}

.dropdown-notifications .notification-mark-read {
  float: right;
  color: #333;
  opacity: 0.4;
}

.dropdown-notifications .notification-mark-read:hover {
  opacity: .8;
}

.dropdown-notifications .notification-action {
  margin-top: 5px;
  margin-bottom: 2px;
}

.dropdown-notifications .notification .media-body {
  padding-top: 0px;
}

.dropdown-notifications .media-object img {
  width: 64px;
}

@media (max-width: 576px) {
  .navbar-collapse.in {
    overflow-y: initial;
  }

  .dropdown-notifications > .dropdown-container {
    width: auto;
  }
}

