<template>
  <div class="chat-list">
    <transition name="slide-right" v-on:after-leave="showChatbox">
      <div class="conversations" v-if="isConversationShow">
        <template v-for="user in users">
          <a :href="`?chatId=${user.id}`" class="user-box">
            <div class="user" :key="user.id" @click.prevent="userSelected(user.id)">
                {{ user.name_limited }}
            </div>
          </a>
        </template>
      </div>
    </transition>
    <transition name="slide-left" v-on:after-leave="showConversation">
      <chatbox v-if="isChatboxShow" v-on:back="hideChatbox" :sender="senderTarget"></chatbox>
    </transition>
  </div>
</template>

<script>
  import { getUrlParam } from '../../utils'

  export default {
    data: () => ({
      users: [],
      isConversationShow: true,
      isChatboxShow: false,
      senderTarget: null,
    }),
    beforeMount() {
      const sender = getUrlParam('chatId')

      if (sender) {
        this.showChatbox()
        this.userSelected(sender)
      }
    },
    async mounted() {
      this.users = (await axios.get('/api/chats/conversations')).data
    },
    methods: {
      showConversation() {
        this.isConversationShow = true
      },
      showChatbox() {
        this.isChatboxShow = true
      },
      userSelected(id) {
        this.isConversationShow = false
        this.senderTarget = parseInt(id)
      },
      hideChatbox() {
        this.isChatboxShow = false
        this.senderTarget = null
      }
    }
  }
</script>

<style lang="scss" scoped>
  .chat-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .conversations {
    height: 500px;
    overflow: scroll;

    .user-box {
      color: #ffffff;

      &:link, &:visited, &:hover {
        text-decoration: none;
        color: #444444;
      }
    }

    .user {
      width: 100%;
      border-radius: 5px;
      padding: 20px 15px 20px 15px;
      background: #444444;
      color: #ffffff;
      cursor: pointer;
      margin-bottom: 5px;

      &:hover {
        background: #7cfc00;
        color: #444444;
      }
    }
  }

  .slide-right-enter-active {
    transition: all .2s ease;
  }
  .slide-right-leave-active {
    transition: all .3s ease;
  }
  .slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }

  .slide-left-enter-active {
    transition: all .2s ease;
  }
  .slide-left-leave-active {
    transition: all .3s ease;
  }
  .slide-left-enter, .slide-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }
</style>
