<template>
  <div>
    <div class="form-group" v-bind:class="{ 'has-error': hasError }">
      <textarea
        :disabled="loading"
        class="form-control chat-form"
        v-model="content"
        rows="4"
        @keydown="sendMessage">
      </textarea>

      <span class="help-block" v-if="hasError" v-text="errorText"></span>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import { getUrlParam } from '../../utils'

  export default {
    props: {
      receiver: {
        type: Number,
        required: true
      },
    },
    data: () => ({
      content: '',
      loading: false,
      hasError: false,
      errorText: ''
    }),
    mounted() {
      //
    },
    methods: {
      async sendMessage(e) {
        if (e.keyCode === 13 && !e.shiftKey && this.content.trim().length > 0) {
          this.hasError = false
          this.errorText = ''
          this.loading = true

          try {
            const { data } = await axios.post('/api/chats/create', {
              content: this.content,
              receiver_id: this.receiver
            })
            this.content = ''
            this.$emit('chat-created', data)
          } catch (e) {
            this.hasError = true
            this.errorText = 'Gagal mengirim pesan! Mohon coba lagi.'
          }

          this.loading = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .loading-indicator {
    padding-bottom: 10px
  }
  .chat-form {
    margin-top: 20px;
    &:disabled {
        background-color: #ffffff;
    }
  }
</style>
