<template>
    <div class="messages" v-for="message in messages">
      <div class="users">{{message.user.name}}
          <span class="users">{{message.create_at}}
          </span>
      </div>
      <div class="messages">
          {{message.subject}}
      </div>

    </div>
</template>

<script>
    export default {
      data() {
        return{
          chats:[]
        }
      },
      mounted() {
          this.getMessage();
      },
      methods:{
        getMessage() {
          axios.get('/messages').then(respone => {
            console.log(respone)
          });
        }
      }
    }
</script>
