.dropdown {
  .dropdown-menu-right {
    left: auto !important;
  }
}

.dropdown-notifications {
  .dropdown-container {
    margin-top: 0px;
  }

  .notification-icon.hide-count:after {
    display: none;
  }

  .dropdown-toolbar .dropdown-toolbar-actions {
    margin-top: -2px;
    font-size: 13px;
  }

  .notification-mark-read {
    float: right;
    color: #333;
    opacity: 0.4;

    &:hover {
      opacity: .8;
    }
  }

  .notification-action {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .notification .media-body {
    padding-top: 0px;
  }

  .media-object img {
    width: 64px;
  }
}

@media (max-width: 576px) {
  .navbar-collapse.in {
    overflow-y: initial;
  }

  .dropdown-notifications > .dropdown-container {
    width: auto;
  }
}
